.carousel-root {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 0.5em;
}
.carousel .thumbs {
    display: none;
}
.carousel .thumbs-wrapper {
    display: none;
}
.carousel .control-dots {
    display: none;
}
.pictures {
    height: 8em;
    border-radius: 0.5em;
}
